.axis path, .axis line, .axis text {
    fill: none;
    stroke: red;
  }
  
  .grid-line {
    stroke: black;
    stroke-opacity: 0.2;
  }
  
  
  .data1 {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }
  
  .data2 {
    stroke: green;
    stroke-width: 2;
    fill: none;
  }
  
  .lines {
    stroke:red;
    stroke-width: 1;
  }

  .name {
    display: "flex";
    justify-content:"center";
}